
<% @page_title =
     "#{@publisher.book.title}" %>
<p>Details of <%= @publisher.book.title %>




<table border="1">
  <tr>
    <th>Publisher</th>
  </tr>
  <tr>
    <td><%= @publisher.name %></td>
  </tr>
</table>
