
<% @page_title =
     "#{@publisher.book.title}" %>
<p>Details of <%= @publisher.book.title %>




<table border="1">
  <tr>
    <th>Publisher</th>
  </tr>
  <tr>
    <td><%= @publisher.name %></td>
    <td><ul>
       
        <li> <%=@publisher.book.author.last_name + ",  " +  
                @publisher.book.year.to_s + ": " +
                @publisher.book.title %> </li>
       
        </ul>
    </td>
  </tr>

</table>
