
<p>Available Publishers of
  <b><%= @book.title %> </b>by
  <%= "#{@book.author.first_name} #{@book.author.last_name}" %>
</p>

  <ul>

  <% @book.publishers.each do |pub| %>
  <li><%= link_to pub.name, :controller => "publisher", 
                           :action     => "show",
                           :id         => pub.id %> </li> 
 
  <%end %>

  </ul>
